<h1>
    <ul>
        <li>student: {{name}}</li>
        <li>student age: {{age}}</li>
        <li>student school: {{school}}</li>
        <li>{{#each courseInfo}}
            <p>Class Name: {{className}}</p>
            <p>Students Enrolled: {{enrolledStudents}}</p>
            <p>Class Start Time: {{startTime}}</p>
            {{/each}}
        </li>
    </ul>
</h1>